@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

/* DraftJS Editor Styles */
.DraftEditor-editorContainer h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}

.DraftEditor-editorContainer h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.DraftEditor-editorContainer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

/* DraftJS Toolbar Styles */
.bi09khh {
  @apply flex items-center;
}

.bc4rxid {
  @apply flex items-center justify-center h-10 w-10 border-0 text-darkGray text-lg;
}

.bc4rxid:hover,
.bc4rxid:focus {
  @apply bg-lightGray;
}

.bc4rxid svg {
  @apply fill-darkGray;
}

.akzb7t5 {
  @apply text-main bg-lightGray;
}

.akzb7t5 svg {
  @apply fill-main;
}

.t16lpgj {
  @apply flex items-center overflow-hidden bg-gray-50 border border-lightGray rounded-md shadow-md z-10 box-border;
}

.t16lpgj:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 4px;
  margin-left: -4px;
}

.t16lpgj:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}

.s6m29i4 {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 24px;
  margin: 0 0.5em;
}